@page "/teams"

@inject Core.Services.ITeamService TeamService

<h4>MLB Teams</h4>

@if (teams == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>Nickname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in teams)
            {
                <tr>
                    <td>@team.Location</td>
                    <td>@team.NickName</td>
                </tr>
            }
        </tbody>
    </table>

    @if (CanLoadMore)
    {
        <button class="btn btn-primary" @onclick="LoadMore">Load More...</button>
    }


}

@code {
    private List<Core.Data.Models.Team> teams { get; set; }
    private int Offset = 0;
    private readonly int Count = 5;
    private bool CanLoadMore = true;

    protected override async Task OnInitializedAsync()
    {

        teams = await TeamService.GetAsync(Count, Offset);
        Offset += 5;
    }

    protected async Task LoadMore()
    {
        var newTeams = await TeamService.GetAsync(Count, Offset);
        Offset += 5;
        CanLoadMore = newTeams.Count == Count;

        teams.AddRange(newTeams);
    }
}
