@page "/teams"
@inherits IndexBase

<h4>MLB Teams</h4>

@if (teams == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>Nickname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in teams)
            {
                <tr>
                    <td>@team.Location</td>
                    <td>@team.NickName</td>
                </tr>
            }
        </tbody>
    </table>

    @if (CanLoadMore)
    {
        <button class="btn btn-primary" @onclick="LoadMore">Load More...</button>
    }

}
